/*Importing Our Font*/
@import "../fonts/yekanbakh/yekanbakh.css";

/*Variables*/
:root {
    --indigo: #435FCB;
    --purple: #230d35;
    --light-blue: #c0ccef;
    --green: #00c57a;
    --pink: #ffcddf;
    --hot-pink: #ff0067;
}

/*Css Reset*/
body {font-size: 12px;}
button {cursor: pointer;}
a {text-decoration: none;}
img {pointer-events: none;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'yekanBakh-Normal', sans-serif !important;
    outline: none !important;
}

/*Styles*/
.dv-fw-bold {font-family: 'yekanBakh-Bold', sans-serif !important;}
.dv-w-1500 {width: 1500px;}
.dv-ml-1 {margin-left: 1rem;}
.dv-ml-2 {margin-left: 2rem;}
.dv-mr-5 {margin-right: 5rem;}
.dv-ml-15 {margin-left: 15rem;}
.dv-aspect-ratio {aspect-ratio: 1/1;}
.dv-bg-indigo {background-color: var(--indigo);}
.dv-transition {transition: .3s;}
.dv-pulsing-circle {width: 15px;animation: pulsing-circle 1s infinite;}
.dv-text-darker-grey {color: var(--bs-gray-500) !important;}
.dv-text-indigo {color: var(--indigo) !important;}
.dv-bg-grey {background-color: var(--bs-gray-200);}
.dv-border-transparent {border: 1px solid transparent;}
.dv-focused {border-color: var(--indigo);}
.dv-pointer-event-none {pointer-events: none;}
.dv-placeholder-color-gray-500::placeholder {color: var(--bs-gray-500);}
.dv-section {background-color: #fbfcff;}
.dv-lh-40 {line-height: 40px;}
.dv-text-darkest-grey {color: var(--bs-gray-700);}
.dv-text-purple {color: var(--purple);}
.dv-bg-light-blue {background-color: var(--light-blue);}
.dv-mr-1 {margin-right: 1rem;}
.dv-object-fit {object-fit: cover;}
.dv-bg-green {background-color: var(--green);}
.dv-conclusion-card-details {transform: translateY(-40px) !important;border-top-left-radius: 2rem;border-top-right-radius: 2rem;}
.dv-number-conclusion {transform: translateY(-50px)}
.dv-lh-30 {line-height: 30px;}
.dv-conclusion-card-pros > li:before {background-image: url("../img/icons/img-check.svg");}
.dv-conclusion-card-cons > li:before {background-image: url("../img/icons/img-X.svg");}
.dv-text-grey {color: var(--bs-gray-600);}
.dv-blog-left-side .swiper-pagination-bullet:not(:last-of-type) {margin-right: 5px;}
.dv-blog-left-side .swiper-pagination-bullet{width: 10px !important;height: 10px !important;transition: .3s}
.dv-blog-left-side .swiper-button-prev:after,
.dv-blog-left-side .swiper-button-next:after{content: '';}
.dv-comment-filter.active {background-color: var(--light-blue);color: var(--indigo) !important;}
.dv-bg-pink {background-color: var(--pink);}
.dv-text-hot-pink {color: var(--hot-pink);}
.dv-w-30px {width: 30px;}
.dv-like-button[data-like="true"] > span{background-color: var(--hot-pink) !important;}
.dv-like-button[data-like="true"] > span svg{fill: var(--pink);}
.dv-comments-list > li:not(:last-of-type) {margin-bottom: 2rem;}
.dv-comments-list > li:not(:first-of-type) {border-top: 1px solid #dee2e6;padding: 2rem;}
.dv-bts-dashed {border-top-style: dashed !important;}
.dv-bl-dashed {border-left: 1px dashed rgba(222, 226, 230, .2);}
.dv-no-resize {resize: none;}
.dv-pl-1 {padding-left: 1rem;}
.dv-ml-5 {margin-left: 5rem;}
.dv-comment-textarea {height: 200px;}
.dv-pagination-item {width: 30px;}
.dv-pagination-item.active {background-color: var(--indigo);color: white;}
.dv-reply-textarea {height: 400px;}
.dv-reply-sect[data-opened='true'] {display: block;}
.dv-reply-sect[data-opened='false'] {display: none;}
.dv-blog-left-side .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 30px;
    background-color: var(--indigo) !important;
}

.dv-conclusion-card-cons > li:before,
.dv-conclusion-card-pros > li:before {
    content: '';
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    aspect-ratio: 1/1;
    margin-left: 1rem;
}

.dv-before-lil-circle:before {
    content: '';
    aspect-ratio: 1/1 !important;
    height: 10px;
    background-color: var(--indigo);
    border-radius: 100%;
    margin-left: 1rem;
}

/*Hover, Active And Focus*/
.dv-hover-bg-darker-grey:hover {background-color: var(--bs-gray-300) !important;}
.dv-hover-text-darkest-grey:hover {color: var(--bs-gray-700) !important;}
.dv-hover-text-darker-indigo:hover {color: #2e4189 !important;}
.dv-hover-text-indigo:hover {color: var(--indigo) !important;}
.dv-header-links-holder-item:hover ~ .dv-header-links-holder-items-list,
.dv-header-links-holder-items-list:hover,
.dv-toggle-of-inner-lists:hover + .dv-inner-list,
.dv-inner-list:hover {opacity: 1 !important;pointer-events: visible !important;}
.dv-hover-path-fill-indigo:hover path {fill: var(--indigo) !important;}
.dv-hover-bg-blue:hover {background-color: #93b6ff;}
.dv-hover-bg-indigo:hover {background-color: var(--indigo);}
.dv-hover-text-light-blue:hover {color: var(--light-blue) !important;}
.dv-hover-bg-darker-indigo:hover {background-color: #3a51ab;}
.dv-hover-bg-light-blue:hover {background-color: var(--light-blue) !important;}

/*Animations*/
@keyframes pulsing-circle {
    from {box-shadow: 0 0 0 var(--indigo);}
    to {box-shadow: 0 0 0 10px rgba(0,0,0,0);}
}