/*Importing Our Font*/
@import "../fonts/yekan/css/Yekan.css";

/*Variables*/
:root {
    --indigo: #435FCB;
    --light-blue: #c0ccef;
    --green: #00c57a;
    --pink: #ffcddf;
    --hot-pink: #ff0067;
    --orange: #ffa20c;
    --purple: #200E32;
}

/*Css Reset*/
body {font-size: 12px;}
button {cursor: pointer;}
a {text-decoration: none;}
img {pointer-events: none;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yekan', sans-serif !important;
    outline: none !important;
}

/*Styles*/
.dv-w-1500 {width: 1500px;}
.dv-ml-1 {margin-left: 1rem;}
.dv-ml-2 {margin-left: 2rem;}
.dv-mr-5 {margin-right: 5rem;}
.dv-ml-15 {margin-left: 15rem;}
.dv-aspect-ratio {aspect-ratio: 1/1;}
.dv-bg-indigo {background-color: var(--indigo);}
.dv-transition {transition: .3s;}
.dv-pulsing-circle {width: 15px;animation: pulsing-circle 1s infinite;}
.dv-text-darker-grey {color: var(--bs-gray-500) !important;}
.dv-text-indigo {color: var(--indigo) !important;}
.dv-bg-grey {background-color: var(--bs-gray-200);}
.dv-border-transparent {border: 1px solid transparent;}
.dv-focused {border-color: var(--indigo);}
.dv-pointer-event-none {pointer-events: none;}
.dv-placeholder-color-gray-500::placeholder {color: var(--bs-gray-500);}
.dv-section {background-color: #fbfcff;}
.dv-lh-40 {line-height: 40px;}
.dv-text-darkest-grey {color: var(--bs-gray-700);}
.dv-bg-light-blue {background-color: var(--light-blue);}
.dv-mr-1 {margin-right: 1rem;}
.dv-object-fit {object-fit: cover;}
.dv-bg-green {background-color: var(--green);}
.dv-conclusion-card-details {transform: translateY(-40px) !important;border-top-left-radius: 2rem;border-top-right-radius: 2rem;}
.dv-number-conclusion {transform: translateY(-50px)}
.dv-lh-30 {line-height: 30px;}
.dv-conclusion-card-pros > li:before {background-image: url("../img/icons/img-check.svg");}
.dv-conclusion-card-cons > li:before {background-image: url("../img/icons/img-X.svg");}
.dv-text-grey {color: var(--bs-gray-600);}
.swiper-pagination:not(.dv-rtl) .swiper-pagination-bulle:not(:last-of-type) {margin-right: 5px;}
.swiper-pagination.dv-rtl .swiper-pagination-bullet:not(:last-of-type) {margin-left: 5px;}
.swiper-pagination-bullet{width: 10px !important;height: 10px !important;transition: .3s}
.swiper-button-prev:after,
.swiper-button-next:after{content: '' !important;}
.dv-comment-filter.active {background-color: var(--light-blue);color: var(--indigo) !important;}
.dv-bg-pink {background-color: var(--pink);}
.dv-text-hot-pink {color: var(--hot-pink);}
.dv-w-30px {width: 30px;}
.dv-like-button[data-like="true"] > span:first-of-type{background-color: var(--hot-pink) !important;}
.dv-like-button[data-like="true"] > span:first-of-type svg{fill: var(--pink);}
.dv-comments-list > li:not(:last-of-type) {margin-bottom: 2rem;}
.dv-comments-list > li:not(:first-of-type) {border-top: 1px solid #dee2e6;padding: 2rem;}
.dv-bts-dashed {border-top-style: dashed !important;}
.dv-bl-dashed {border-left: 1px dashed rgba(222, 226, 230, .2);}
.dv-no-resize {resize: none;}
.dv-pl-1 {padding-left: 1rem;}
.dv-ml-5 {margin-left: 5rem;}
.dv-comment-textarea {height: 200px;}
.dv-pagination-item {width: 30px;}
.dv-pagination-item.active {background-color: var(--indigo);color: white;}
.dv-reply-textarea {height: 400px;}
.dv-reply-sect[data-opened='true'] {display: block;}
.dv-reply-sect[data-opened='false'] {display: none;}
.dv-more-blog-thumbnail {background-image: url("../img/img-thumbnail-1.jpg");background-size: cover;}
.dv-bg-orange {background-color: var(--orange);}
.dv-bg-hot-pink {background-color: var(--hot-pink);}
.dv-text-lightest-grey {color: #c5d5e3;}
.dv-bg-gradiant-black {background: linear-gradient(to bottom, transparent, rgba(0,0,0,.7));}
.dv-rounded-1dot5 {border-radius: 1.5rem;}
.dv-overflowx-hidden {overflow-x: hidden;}
.dv-bg-cover {background-size: cover !important;}
.dv-home-first-section-slider .dv-slide1 {background-image: url('../img/img-thumbnail-1.jpg');}
.dv-home-first-section-slider .dv-slide2 {background-image: url('../img/home/img-thumbnail-2.png');}
.dv-home-first-section-slider .dv-slide3 {background-image: url('../img/home/img-thumbnail-3.png');}
.dv-home-first-section-slider .swiper-slide {height: 480px !important;}
.dv-z-index-3{z-index: 3;}
.dv-home-btn-transformY {transform: translateY(-20px) translateX(-20px);}
.dv-text-wrap-with-dots {width: 50%;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
.dv-grid-tc-4 {grid-template-columns: repeat(4, 1fr);}
.dv-grid-tc-3 {grid-template-columns: repeat(3, 1fr);}
.dv-home-second-sections-top-side-cards {width: 342px !important;}
.dv-br-dashed {border-right: 1px dashed #c5d5e3;}
.dv-pr-1 {padding-right: 1rem;}
.dv-pl-1 {padding-left: 1rem;}
.dv-w-70px {width: 70px !important;}
.dv-h-220px {height: 220px !important;}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 30px;
    background-color: var(--indigo) !important;
}

.dv-conclusion-card-cons > li:before,
.dv-conclusion-card-pros > li:before {
    content: '';
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    aspect-ratio: 1/1;
    margin-left: 1rem;
}

.dv-before-lil-circle:before {
    content: '';
    aspect-ratio: 1/1 !important;
    height: 10px;
    background-color: var(--indigo);
    border-radius: 100%;
    margin-left: 1rem;
}

/*Hover, Active And Focus*/
.dv-hover-bg-darker-grey:hover {background-color: var(--bs-gray-300) !important;}
.dv-hover-text-darkest-grey:hover {color: var(--bs-gray-700) !important;}
.dv-hover-text-darker-indigo:hover {color: #2e4189 !important;}
.dv-hover-text-indigo:hover {color: var(--indigo) !important;}
.dv-header-links-holder-item:hover ~ .dv-header-links-holder-items-list,
.dv-header-links-holder-items-list:hover,
.dv-toggle-of-inner-lists:hover + .dv-inner-list,
.dv-inner-list:hover {opacity: 1 !important;pointer-events: visible !important;}
.dv-hover-path-fill-indigo:hover path {fill: var(--indigo) !important;}
.dv-hover-bg-blue:hover {background-color: #93b6ff;}
.dv-hover-bg-indigo:hover {background-color: var(--indigo);}
.dv-hover-text-light-blue:hover {color: var(--light-blue) !important;}
.dv-hover-bg-darker-indigo:hover {background-color: #3a51ab;}
.dv-hover-bg-light-blue:hover {background-color: var(--light-blue) !important;}
.dv-hover-text-black:hover {color: black !important;}
.dv-active-bg-darker-grey:active {background-color: var(--bs-gray-300) !important;}

/*Animations*/
@keyframes pulsing-circle {
    from {box-shadow: 0 0 0 var(--indigo);}
    to {box-shadow: 0 0 0 10px rgba(0,0,0,0);}
}

/*Media Querys*/
@media (max-width: 1576px) {  .dv-w-1500 {width: 100% !important;}  }
@media (max-width: 1292px) {  .dv-home-second-sections-top-side-cards {width: 280px !important;}  }
@media (max-width: 1461px) {
    .dv-home-second-sections-top-side-cards {width: 330px !important;}
    .dv-home-second-sections-top-side-cards {width: 300px !important;}
    .dv-selected-articles-home, .dv-new-videos-home {grid-template-columns: repeat(2, 1fr);}
    .dv-home-second-sections-top-side-cards {width: 100% !important;height: 250px !important;}
    .dv-mq-1461-d-flex {display: flex !important;}
    .dv-mq-1461-flex-d-c {flex-direction: column;}
    .dv-mq-1461-w-100 {width: 100% !important;}
    .dv-mq-1461-d-none {display: none !important;}
}

@media (max-width: 991px) {
    .p-4 {padding: 1rem !important;}
    .dv-conclusion-card-pros > li:first-of-type:before , .dv-conclusion-card-cons > li:first-of-type:before{width: 20px !important;}
    .dv-conclusion-card-pros > li:last-of-type:before , .dv-conclusion-card-cons > li:last-of-type:before{width: 30px !important;}
    .dv-home-first-section-slider .swiper-slide {height: 350px !important;}
    .dv-conclusion-card-details > div:nth-of-type(2)::-webkit-scrollbar {display: none !important;}
    .dv-conclusion-card-details > div:nth-of-type(2)::-moz-viewport-scroll {display: none !important;}
    .dv-conclusion-card-details > div:nth-of-type(2){height: 20rem;overflow: scroll;margin-bottom: 1rem;}

    .dv-mq-991-d-none {display: none !important;}
    .dv-mq-991-d-block {display: block !important;}
    .dv-mq-991-jc-end {justify-content: end !important;}
    .dv-mq-991-w-100 {width: 100% !important;}
    .dv-mq-991-w-50 {width: 79% !important;}
    .dv-mq-991-w-25 {width: 25% !important;}
    .dv-mq-991-w-75 {width: 75% !important;}
    .dv-mq-991-w-auto {width: auto !important;}
    .dv-mq-991-h-auto {height: auto !important;}
    .dv-mq-991-m-0 {margin: 0 !important;}
    .dv-mq-991-d-flex {display: flex !important;}
    .dv-mq-991-flex-d-c {flex-direction: column !important;}
    .dv-mq-991-flex-d-c-reverse {flex-direction: column-reverse !important;}
    .dv-mq-991-d-inline-flex {display: inline-flex !important;}
    .dv-mq-991-mb-3 {margin-bottom: 1.5rem !important;}
    .dv-mq-991-mb-3rem {margin-bottom: 3rem !important;}
    .dv-mq-991-p-1 {padding: 1rem !important;}
    .dv-mq-991-border-0 {border: none !important;}
    .dv-mq-991-flex-d-r {flex-direction: row !important;}
    .dv-mq-991-ml-2 {margin-left: 2rem;}
    .dv-mq-991-ai-center {align-items: center !important;}
    .dv-mq-991-jc-start {justify-content: start !important;}
    .dv-mq-991-grid-tc-2 {grid-template-columns: repeat(2,1fr);}
    .dv-mq-991-grid-tc-2 > :last-of-type{grid-column: span 2;}
}

@media (max-width: 575px) {
    .dv-mq-575-d-grid {display:grid !important;}
    .dv-mq-575-grid-tc-2 {grid-template-columns: repeat(2, 1fr);}
    .dv-mq-575-grid-tc-1 {grid-template-columns: repeat(1, 1fr);}
    .dv-mq-575-grid-tc-1 {grid-template-columns: repeat(1, 1fr);}
    .dv-mq-575-grid-tc-1 > :last-of-type {grid-column: span 1}
    .dv-mq-575-gap-1 {gap: 1rem;}
    .dv-mq-575-flex-d-c {flex-direction: column !important;}
    .dv-mq-575-d-flex {display: flex !important;}
    .dv-mq-575-ai-start {align-items: start !important;}
    .dv-mq-575-ai-center{align-items: center !important;}
}